.nav{
	position:fixed;
	width: 100%;
	height:120px;
  background-color: white;
}

.menu{
	display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right:5%;
  margin-left:5%;
  margin-top: 30px;
}

.menuoptions{
	color: #404040;
	font-size: 23px;
  cursor: pointer;
}

.logo {
  width: 200px;
  height: auto;
}

.get-forthix-button {
  background-color: #8FF5A3;
	color: #404040;
  font-weight: bold;
  text-align: center;
	font-size: 15px;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 7px;
}

@media (max-width: 700px) {
 
  .nav{
    height:100px;
    background-color: white;
  }

  .logo {
    margin-top:7px;
    width: 100px;
    height: auto;
  }

  .menuoptions{
    font-size: 18px;
  }

  .get-forthix-button {
    font-size: 10px;
    padding:8px;
    border-radius: 7px;
  }

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  background-color: #404040;
}

.dropdown-content a {
  color: white;
  background-color: #404040;
  font-size: 20px;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}